<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TODOLIST-APP</title>
</head>
<body>
  <h1>TODO LIST</h1>
  <table>
    <thead>
      <tr>
        <th class="id">ID</th>
        <th class="task">Task</th>
        <th class="state">State</th>
        <th class="button">button</th>
      </tr>
    </thead>
    <tbody>
      <!-- [1] ここに <tr> で ToDo の要素を1行づつ繰り返し表示 -->
      <tr th:each="item : ${items}">
        <td th:text="${item.id}">ID</td>
        <td th:text="${item.task}">Task</td>
        <td th:text="${item.state}">State</td>
        <td><button>削除</button></td>
      </tr>
    </tbody>
  </table>
</body>
</html>